/*-- scss:defaults --*/

$presentation-h2-font-size: 1.2em;

$presentation-h3-font-size: 1em;

/*-- scss:rules --*/

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

ul.no-bullets li {
  list-style-type: none;
}

span.red {
  color: red;
}

span.green {
  color: green;
}

span.orange {
  color: orange;
}
